<%- include('../partials/adminPartials/adminHeader.ejs')  %>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create User</h3>
                  <form action="" method="post" id="form" name="form">
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" id="firstName" name="firstName" class="form-control form-control-lg" />
                          <label class="form-label" for="firstName">First Name</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" id="lastName" name="lastName" class="form-control form-control-lg" />
                          <label class="form-label" for="lastName">Last Name</label>
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 d-flex align-items-center">
      
                        <div class="form-outline datepicker w-100">
                          <input type="date" class="form-control form-control-lg" id="birthdayDate" name="dob" />
                          <label for="birthdayDate" class="form-label">Birthday</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <h6 class="mb-2 pb-1">Gender: </h6>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                            value="female" checked />
                          <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="maleGender"
                            value="male" />
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="otherGender"
                            value="other" />
                          <label class="form-check-label" for="otherGender">Other</label>
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <input type="email" id="emailAddress" name="email" class="form-control form-control-lg"  />
                          <label class="form-label" for="emailAddress">Email</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control form-control-lg" />
                          <label class="form-label" for="phoneNumber">Phone Number</label>
                        </div>
      
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
        
                          <div class="form-outline">
                            <input type="password" id="password" name="password" class="form-control form-control-lg" />
                            <label class="form-label" for="emailAddress">Password</label>
                          </div>
                          <input type="checkbox" onclick="myFunction()">Show Password
        
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
        
                          <div class="form-outline">
                            <input type="password" id="confirm_password" name="confirmPassword" class="form-control form-control-lg" />
                            <label class="form-label">Confirm Password</label>
                          </div>
        
                        </div>
                      </div>
                      
      
                    <div class="row">
                      <div class="col-12">
      
                        <select class="select form-control-lg" id="Qulification" name="qualification">
                          <option value="1" disabled>Choose option</option>
                          <option value="Student">Student</option>
                          <option value="Fresher">Fresher</option>
                          <option value="Employee">Employee</option>
                        </select>
                        <label class="form-label select-label">Qualification</label>
      
                      </div>
                    </div>
      
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Create" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% if(message!="") {%> 
      <script>
        alert('<%=message%>')
      </script>
      <% } %> 
<%- include('../partials/adminPartials/adminFooter.ejs')  %>











<script>
  const form = document.querySelector("form");

form.addEventListener("submit", (event) => {
  var flag = 0;
  flag = validateInputs();
  if (flag == 1) {
    event.preventDefault();
  }
});

function onlyLetters(str) {
  return /^[a-zA-Z]+$/.test(str);
}

function validateInputs() {
  const firstName = document.getElementById("firstName").value;
  const lastName = document.getElementById("lastName").value;
  const dob = document.getElementById("birthdayDate").value;
  const emailAddress = document.getElementById("emailAddress").value;
  const phoneNumber = Number(document.getElementById("phoneNumber").value);
  const password = document.getElementById("password").value;
  const confirm_password = document.getElementById("confirm_password").value;
  if (
    firstName.length == 0 ||
    lastName.length == 0 ||
    emailAddress.length == 0 ||
    phoneNumber.toString().length == 0 ||
    password.length == 0 ||
    confirm_password.length == 0
  ) {
    alert("Enter data in all fields");
    return 1;
  } else {
    const age = calage(dob);
    if (!onlyLetters(firstName)) {
      alert("First name should only contain LETTERS");
      return 1;
    } else if (!onlyLetters(lastName)) {
      alert("Last name should only contain LETTERS");
      return 1;
    } else if (age < 12 || age > 100) {
      alert("invalid date of birth");
      return 1;
    } else if (phoneNumber.toString().length != 10 || isNaN(phoneNumber)) {
      alert("enter valid phone number");
      return 1;
    } else if (password.length < 8) {
      alert("Password length must be atleast 8 characters");
      return 1;
    } else if (password.length > 15) {
      alert("Password length must not exceed 15 characters");
      return 1;
    } else {
      return 0;
    }
  }
}

function calage(dob) {
  var dobcal = new Date(dob);
  var month_diff = Date.now() - dobcal.getTime();
  var age_dt = new Date(month_diff);
  var year = age_dt.getUTCFullYear();
  var age = Math.abs(year - 1970);
  return age;
}

function myFunction() {
  var x = document.getElementById("password");
  var y = document.getElementById("confirm_password")
  if (x.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}
</script>



