<%- include('../partials/adminPartials/adminHeader.ejs')  %>
<link rel="stylesheet" href="../css/admin.css" type="text/css">
<div class="container">
    <div class="d-flex flex-column align-items-center mt-5 justify-content-center info-div">
        <h1>Welcome To Admin Homepage.</h1>
        <div class="inner-info">
            <a href="/home/admin/users" class="btn btn-lg btn-dark" tabindex="-1" role="button" aria-disabled="true">View Users</a>
            <a href="/login/logout" class="btn btn-dark btn-lg" tabindex="-1" role="button" aria-disabled="true">Logout</a>
        </div>
    </div>
</div>

<%- include('../partials/adminPartials/adminFooter.ejs')  %>